

input[type=text] {
    width: 100%;
    padding: 15px 20px;
    margin: 10px 0 15px 0;
    box-sizing: border-box;
    border-radius: 6px;
    background: #52545c;
    color: #cbcfd4;
    border: none;
  }

