/* GENERAL VIBE  */


body {
    background: #36393F;
    color: #cbcfd4;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    border: 2px solid #333;
    margin: 12px;
  }
  
  html, body, header, main, div, header, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
  }
  


/* SPECIFIC HTML ELEMENTS */

h1 {
    padding: 0 12px;
    margin: 12px 0;
    font-size: 22px;
    line-height: 22px;
  }

main {
    padding: 12px 24px;
    font-size: 18px;
  }

header {
    border-bottom: 2px solid #333;
    background: #222326;
    display: flex;
    align-items: center;
    gap: 12px;
}

form {
    border: 2px solid #333;
    padding: 12px;
  }


a {
    text-decoration: none;
    color: #cbcfd4;
  }
  
  fieldset {
    display: flex;
    flex-direction: column;
    padding: 12px;
}

input {
    flex-grow: 1;
    font-size: 18px;
    padding: 8px;
    border-radius: 8px;
    border: none;
    background: #52545c;
    color: #cbcfd4;
    margin-bottom: 12px;
  }


legend{
    font-size: 18px;
    padding: 10px;
  }

  hr{
    color: #242830;
}

ol li{ 
  color: #c4aff5;
  padding: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
  border: 1px solid #242830; 
}

ul li {
  padding: 8px 16px;
  background: #cbcfd4;
  color: #242830;
  
}
/* CUSTOM CLASSES TO DESIGN STUFF  */


  
#remove-friend {
color: #9c5f5f
}


.button {
    /* this is a class and not the button html selector so you can 
just apply it to links as well if you are so inclined */
    font-size: 18px;
    padding: 8px 32px;
    border: none;
    border-radius: 8px;
    background: #52545c;
 
    cursor: pointer;
    margin: 12px 0;
  }

  .button-primary {
    background: #5865F2;
    color: #fff;
  }


  /* name should maybe not be both a class and an id lol */
  #name {
    color: #fff
  }

  .name {
    font-weight: bold;
  }
  
  .message {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
  }

  .header-img {
    margin-left: 24px;
}

/* SUBPAGES */

/* SUBPAGE: chat */

  
  #msg-form {
    display: flex;
    gap: 12px;
    width: 100%;
    margin-top: 24px;
  }
  
  #msg-input {
    flex-grow: 1;
    font-size: 18px;
    padding: 8px;
    border-radius: 8px;
    border: none;
    background: #52545c;
    color: #cbcfd4;
  }
  
  #msg-send {
    font-size: 18px;
    padding: 8px 32px;
    border: none;
    border-radius: 8px;
    background: #5865F2;
    color: #fff;
    cursor: pointer;
  }

  
  #msg-send:hover {
    filter: brightness(.85);
  }
  
  /* SUBPAGE: register */



/* SUBPAGE: logout */

#all{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    
} 

#logout-img{
    border-radius : 50%;
    height: 100px;
    width: 100px;
    
}


/* PROFILE */

#profile {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 12px;
}

#profile-img {
  max-width: 100%;
  max-height: 100%;
}

#profile-info {
  border: 1px solid #242830; 
  padding: 12px;
}